<!DOCTYPE html>

<html>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">




<style>

    h1 {text-align: center;}

</style>

    

 

<hr class="my-5">

<body>




<!-- Navigation -->

<nav class="w3-bar w3-orange">

  <a href="homepage" class="w3-button w3-bar-item">Home</a>

  <a href="aboutus" class="w3-button w3-bar-item">AboutUs</a>

  <a href="contactus" class="w3-button w3-bar-item">Contact</a>

  <a href="login" class="w3-button w3-bar-item">Login</a>

</nav>




<section>

    <img class="mySlides" src="assets/cake02.jpeg" style="width:100%">



  </section>





<!-- Band Description -->

<section class="w3-container w3-center w3-content" style="max-width:600px">

  <h2 class="w3-wide">THE SWEET ZONE</h2>



  <p class="w3-justify">Online Bouquet and cake order application is a web-based application that allows customers to browse and purchase products online. Today in this modern world with advanced technology we get everything served online, at our home, and can enjoy the food in our pyjamas along with Netflix. Likewise, ordering cake and bouquet online can be fun and an easy way to get instant cakes and bouquets for your loved ones for any kind of celebrations fastly.</p>

</section>