<!DOCTYPE html>
<html>
<head>
<style>
p {
  color:rgba(17, 12, 16, 0.998);
  text-indent: 60px;
  font-style: italic;
  text-align:left;

}
</style>
</head>
<body>
<div align="center" >
<p >
  Online Bouquet and cake order application
   is a web-based application
  that allows customers to browse and purchase products online. 
  Today in this modern world with advanced technology 
  we get everything served online, at our home, 
  and can enjoy the food in our pajamas along with Netflix. Likewise,
  ordering cake and bouquet online can be fun and an easy way to get instant cakes and bouquets for your loved ones for any kind of celebrations fastly.
</p>
</div>
</body>
</html>
